<button (click)="createNewProduct()" >Create</button>
<div class="product--grid">
  @for (item of products(); track $index) {
    <app-product
      [product]="item"
      (addedProduct)="onAddToShoppingCart($event)"
      (showProduct)="onShowDetail($event)"
    />
  }
  <button (click)="loadMore()">Load more</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  @if(productChosen){
    <div>
      <button (click)="toogleProductDetail()">Close</button>
      <h1>{{ productChosen.title | truncateText }}</h1>
      <swiper-container>
        <swiper-slide *ngFor="let image of productChosen.images">
          <img [src]="image" alt=""/>
        </swiper-slide>
      </swiper-container>
      <p> {{ productChosen.description }} </p>
      <button (click)="updateProduct()">Edit product</button>
      <button (click)="deleteProduct()">Delete product</button>
    </div>
  }
</div>