<div class="container">
  <h3>{{ welcome }}</h3>

  <ul>
    <p>total: {{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ i }} - {{ task }}
      </li>
    }
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(3) }}</h2>
  <p>The sum of 3 +3  is {{ 3+3 }}</p>
  <hr />
  <img [src]="image" alt="" >
  <input type="text" value="Link">
  <input type="text" [value]="nickName()" (change)="changeHandler($event)">
  <button>Click me!</button>
  <button [disabled]="disabled">Click me!</button>
  <p>
    Person: {{ person().nickName }}
  </p>
  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Doble click me</button>
  <p>(change)</p>
  <input type="number" value="Link" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().nickName" (keydown)="keydownHandler($event)"/>
  <p>(keydown shift t)</p>
  <input type="text" [value]="person().nickName" (keydown.shift.t)="clickHandler()"/>
  <hr/>
  <h1>Signals</h1>
  <p>{{ nickName() }}</p>
  @if (nickName() === 'Zelda') {
    <div>
      My Content
    </div>
  }
  @if (person().nickName === 'Zelda' && person().disabled === false) {
    <div>
      My Content 2
    </div>
  } @else {
    Person is disabled!
  }

  <hr />
  <h2>NgSwitch</h2>
  <input type="text" [value]="person().nickName" (change)="changePersonName($event)">
  <div>
    @switch (person().nickName) {
      @case ('Zelda') {
        <p>I'm Zelda</p>
      }
      @case ('Link') {
        <p>I'm Link</p>
      }
      @case ('Ganondorf') {
        <p>I'm Ganondorf</p>
      }
      @default {
        <p>I'm no one</p>
      }
    }
  </div>
  <hr />
  <input type="color" [formControl]="colorControl" />
  <p>Color: {{ colorControl.value }}</p>
  <hr />
  <h2>SVG</h2>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorControl.value"></rect>
    </g>
  </svg>
  <h2>Styles</h2>
  <input type="number" [formControl]="widthControl" />
  <span class="box" [style.width.px]="widthControl.value"></span>
  <hr />
  <p>
    <label>Name:</label>
    <input type="text" [formControl]="nameControl"/><br />
    <span class="message-error" [class.show]="nameControl.invalid && nameControl.touched">Invalid name</span>
  </p>
  <p>
    <input type="text"/>
  </p>
  <hr />
  <h2>New Sintaxis</h2>
  <h3>If</h3>
  @if (nickName() === 'Zelda') {
    <div>I'm Zelda</div>
  }
  <h3>If - else</h3>
  @if(person().nickName === 'Zelda' && person().disabled === false) {
    <div>Zelda is not disabled</div>
  }
  @else {
  <div>Zelda is <strong>disabled</strong></div>
}
<h3>Loop For</h3>
<ul>
  @for (task of tasks(); track task; let i = $index) {
    <li>{{i}} {{task}}</li>
  }
  @empty {
  <li>
    <strong>The list is empty</strong>
  </li>
}
</ul>
<h3>Shitch</h3>
<div>
  @switch (person().nickName) {
    @case ('Zelda') {
      <p>I'm Zelda</p>
    }
    @case ('Link') {
      <p>I'm Link</p>
    }
    @case ('Ganondorf') {
      <p>I'm Ganondorf</p>
    }
    @default {
      <p>I'm no one</p>
    }
  }

</div>
</div>
