<div class="container">
  <h3>{{ welcome }}</h3>

  <ul>
    <p>total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">
      {{ i }} - {{ task }}
    </li>
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(3) }}</h2>
  <p>The sum of 3 +3  is {{ 3+3 }}</p>
  <hr />
  <img [src]="image" alt="" >
  <input type="text" value="Link">
  <input type="text" [value]="nickName()" (change)="changeHandler($event)">
  <button>Click me!</button>
  <button [disabled]="disabled">Click me!</button>
  <p>
    Person: {{ person().nickName }}
  </p>
  <hr />
  <button (click)="clickHandler()">Click me</button>
  <button (dblclick)="clickHandler()">Doble click me</button>
  <p>(change)</p>
  <input type="number" value="Link" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().nickName" (keydown)="keydownHandler($event)"/>
  <p>(keydown shift t)</p>
  <input type="text" [value]="person().nickName" (keydown.shift.t)="clickHandler()"/>
  <hr/>
  <h1>Signals</h1>
  <p>{{ nickName() }}</p>
  <div *ngIf="nickName() === 'Zelda'">
    My Content
  </div>
  <div *ngIf="person().nickName === 'Zelda' && person().disabled === false; else elseBlock">
    My Content 2
  </div>
  <ng-template #elseBlock>
    Person is disabled!
  </ng-template>

  <hr />
  <h2>NgSwitch</h2>
  <input type="text" [value]="person().nickName" (change)="changePersonName($event)">
  <div [ngSwitch]="person().nickName">
    <p *ngSwitchCase="'Zelda'">I'm Zelda</p>
    <p *ngSwitchCase="'Link'">I'm Link</p>
    <p *ngSwitchCase="'Ganondorf'">I'm Ganondorf</p>
    <p *ngSwitchDefault>I'm no one</p>
  </div>
</div>
